/* Centralizar conteúdo na página */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Cor de fundo de exemplo */
}

.button-return {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.return-button {
    margin-left: 1vw;
    margin-top: 1vh;
    width: 2.5vw; /* Largura desejada */
    height: 5vh; /* Altura desejada */
    font-size: 1.5rem; /* Tamanho da fonte */
}

/* Estilo para o formulário de recuperação de senha */
.recovery-password-form {
    background-color: #ffffff; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-right: 20px; /* Espaçamento entre os elementos */
}